
<div class="flex justify-center items-baseline min-h-screen bg-gray-100 pt-5 px-2">
    <div class="bg-white p-8 rounded-2xl shadow-md w-full max-w-sm">

      <div class="header-content">
        <div class="brand flex">
          <h1 class="mb-5">Tomasri</h1>
          <span class="subtitle pl-5">Digital Payments</span>
        </div>
      </div>

      <!-- <h2 class="text-2xl font-bold text-center mb-6">Login</h2> -->
  
      <form (ngSubmit)="login()" class="space-y-4">
        
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Email</mat-label>
          <input matInput type="email" [(ngModel)]="email" name="email" required />
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Password</mat-label>
          <input matInput type="password" [(ngModel)]="password" name="password" required />
        </mat-form-field>
  
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="w-full"
        >
          Login
        </button>
      </form>
    </div>
  </div>
  